h1 {
    text-align: center;
    padding: 0.5em;
    color: white;
}

.total-container {
    background-color: #05292b;

}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.resident-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-image {
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 7;
    object-fit: cover;
}

.location-info {
    background-color: var(--color-card);
    box-shadow: 0 10px 25px rgba(0,0,0,0.55);
    max-width: 500px;
    border-radius: 0.8em;
    margin: 2em auto;
    padding: 0.5em;
    text-align: center;

}


.title-info {
    color: var(--color-green);
    text-align: center;
    margin: 2px;
    padding: 5px;
}

.location-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.location-type-value {
    font-weight: 300;
    display: grid;
    color: #aaa7;
    margin: 5px;
    padding: 2px;
}

.type {
    color: white;
    margin: 5px;
}



#loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#h3 {
    color: rgb(69, 178, 15)
}

#ring {
    width: 190px;
    height: 190px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
}

#ring:nth-child(1) {
    border-bottom: 8px solid rgb(255, 141, 249);
    animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
    from {
        transform: rotateX(50deg) rotateZ(110deg);
    }

    to {
        transform: rotateX(50deg) rotateZ(470deg);
    }
}

#ring:nth-child(2) {
    border-bottom: 8px solid rgb(255,65,106);
    animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
  
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
  }
  
  #ring:nth-child(3) {
    border-bottom: 8px solid rgb(0,255,255);
    animation: rotate3 2s linear infinite;
  }
  
  @keyframes rotate3 {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
  
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
  }
  
  #ring:nth-child(4) {
    border-bottom: 8px solid rgb(252, 183, 55);
    animation: rotate4 2s linear infinite;
  }
  
  @keyframes rotate4 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
  
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
  }