.total-container {
    background-color: #05292b;

}

.search-value {
    width: 15%;
}

.resident-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-image {
    margin: 0 0 0.5em;
    width: 100%;
    height: fit-content;
}

.location-info {
    background-color: var(--color-card);
    box-shadow: 0 10px 25px rgba(0,0,0,0.55);
    max-width: 500px;
    border-radius: 0.8em;
    margin: 1em 1em;
    position: relative;
    left: 30%;
    padding: 0.5em;
    text-align: center;
}


.title-info {
    color: var(--color-green);
    text-align: center;
    margin: 2px;
    padding: 5px;
}

.location-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.location-type-value {
    font-weight: 300;
    display: grid;
    color: #aaa7;
    margin: 5px;
    padding: 2px;
}

.type {
    color: white;
    margin: 5px;
}
